/* --------------------------- MOBILE VERSION ------------------------------ */


.cover {
    background-color: white;
    width: 70%;
    /* height: 50%; */
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    flex-direction: column;
    align-items: center;
}






.input-reset {
    border: none;
    background-color: rgb(229, 226, 226);
    width: 85%;
    border-radius: 0.25em;
}

input:focus {
    outline-color: #F9A51A;
}

.reset-btn {
    width: 40%;
    /* height: 3em; */
    background-color: #F9A51A;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.reset-btn:hover {
    transform: scale(1.15);
}





/* -------------------- TABLET OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 37em) {
    .page {
        font-size: 1em;
    }

    .cover {
        width: 60%;
        /* height: 70%; */
    }
}

/* -------------------- DESKTOP OPTIMIZATION -------------------- */
@media only screen and (min-device-width: 64em) {
    .page {
        font-size: 1.25em;
    }

    .cover {
        width: 25%;
        /* height: 65%; */
    }
}